html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: lightgreen;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    background-color: pink;
}

footer {
    padding: 2rem;
    text-align: right;
    background-color: gray;
}

.footer_copyright {
    background-color: white;
}

.copyright {
    background-color: purple;
}
