html, body {

}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2em;
  background-color: #171717;
  border-radius: 25px;
  transition: .4s ease-in-out;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  width: 320px;
}

.form:hover {
  transform: scale(1.03);
  border: 1px solid #000;
}

#heading {
  text-align: center;
  margin: 1em 0 0.5em;
  color: #fff;
  font-size: 1.5em;
}

.field {
  display: flex;
  align-items: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em 1em;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
  font-size: 0.9em;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1em;
  margin-top: 1.5em;
}

.button1 {
  flex: 1;
  padding: 0.6em 1em;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.button1:hover {
  background-color: black;
}

.button3 {
  margin-top: 1em;
  text-align: center;
  display: block;
  padding: 0.5em;
  border-radius: 10px;
  background-color: #252525;
  color: white;
  text-decoration: none;
  transition: .4s ease-in-out;
}

.button3:hover {
  background-color: crimson;
}