<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/index.css">
    </head>

	<body>
        <main>
            <div class="logo_login">

            </div>

            <div class="login">
                <form class="form-control" action="">

                    <p class="title">Login</p>

                    <div class="input-field">
                        <input required="" class="input" type="text" />
                        <label class="label" for="input">Enter Email</label>
                    </div>

                    <div class="input-field">
                        <input required="" class="input" type="password" />
                        <label class="label" for="input">Enter Password</label>
                    </div>

                    <button class="submit-btn">Sign In</button>

                </form>

                <footer id="footer"></footer>
                <script src="../static/js/load_footer.js"></script>
            </div>
        </main>
	</body>

</html>

